<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="../stock.png"/>
    <link rel="stylesheet" href="../css/main.css">
    <script defer type="module"src="../script.js"></script>
</head>
<body>
    <div class="outer">
        <div id="marquee"class="marquee" >
        </div>
    </div>
    <div class="body-wrapper">
        <div class="selector-wrapper">
            <!-- <button>Show Options</button> -->
            <select name="" id="selector">
            </select>
        </div>
        <div class="center" id="">
            <div class="side-by-side">
                <input type="text" class="fancy" id="search"> 
                <button id="search-button">search</button>
            </div>
            <div id="loader" style="display: none;" class="loader">Loading</div>
            <ul id="search-results">
            </ul>
        </div>
    </div>
</body>
</html>